<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You Died!</title>
    <style>
        @import url('http://fonts.cdnfonts.com/css/minecraft-4');

        h1 {
            font-size: 75px;
            color: white;
            margin: 0;
            position: absolute;
            font-family: 'Minecraft', sans-serif;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        body {
            background-color: red;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>You Died!</h1>
</body>
</html>